<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>RealWorld</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

		<!--jQuery-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="assets/js/app.js"></script>

		<!-- Google Analytics !-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93948712-2', 'auto');
      ga('send', 'pageview');
    </script>

		<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T8PB5GS');</script>
		<!-- End Google Tag Manager -->

	</head>
	<body>

		<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8PB5GS"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">RealWorld</a></h1>
						<!-- <nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav> -->
					</header>

				<!-- Main -->
					<article id="main">
						<!-- <header class="header-text">
							<h2>I'm looking for</h2>
							<ul>
								<li class="apartments">Apartments</li>
								<li class="roommates">Roommates</li>
								<li class="both">Both</li>
							</ul>
						</header> -->
						<section class="wrapper style5">
							<div class="inner">

								<h3>Tell us about yourself</h3>
                <p> Note: All items not marked with a * are optional, but the more we know the better our recommendations will be!</p>

                <form method="post" action="/sign-up" class="madlib" >
                  <div class="form active-form demographics-form">
                    <p>My name is <input type="text" name="first_name" id="first_name" placeholder="First Name"/>*
											<input type="text" name="last_name" id="last_name" placeholder="Last Name"/>*
											and I am <input type="number" name="age" id="age" /> years
											old. Please contact me at <input type="email" name="email" id="email" placeholder="Email"/>*
	                    or <input type="tel" name="phone" id="phone" placeholder="Phone Number"/>.
											Oh, and I'd like my password to be <input type="password" name="password" id="password" />*.</p>
											<li class="button special next-form">Apartments ></li>
									</div>
									<div class="form apartments-form">
                    <p>I will be moving to Boston on <input type="date" name="move_in_date" id="move_in_date" placeholder="Date"/>
                    to work at <input type="text" name="company" id="company" placeholder="Company Name"/>.
                    I am looking for a place with <input type="number" name="num_bedrooms" id="num_bedrooms" />
                    bedrooms and <input type="number" name="num_baths" id="num_baths" />
										bathrooms in
											<select name="neighborhoods" id="neighborhoods" />
												<option value=Somerville>Neighborhood</option>
												<option value=Allston/Brighton>Allston/Brighton</option>
												<option value="Back Bay/Beacon Hill">Back Bay/Beacon Hill</option>
												<option value=Cambridge>Cambridge</option>
												<option value=Central>Central</option>
												<option value=Charleston>Charleston</option>
												<option value=Dorchester>Dorchester</option>
												<option value=Downtown>Downtown</option>
												<option value="East Boston">East Boston</option>
												<option value=Fenway/Kenmore>Fenway/Kenmore</option>
												<option value="Jamaica Plain">Jamaica Plain</option>
												<option value=Mattapan>Mattapan</option>
												<option value=Roxbury>Roxbury</option>
												<option value="North End">North End</option>
												<option value="South Boston">South Boston</option>
												<option value="South End">South End</option>
												<option value=Somerville>Somerville</option>
												<option value="West Roxbury">West Roxbury</option>
											</select>,
											<select name="neighborhoods" id="neighborhoods" />
												<option value=Somerville>Neighborhood</option>
												<option value=Allston/Brighton>Allston/Brighton</option>
												<option value="Back Bay/Beacon Hill">Back Bay/Beacon Hill</option>
												<option value=Cambridge>Cambridge</option>
												<option value=Central>Central</option>
												<option value=Charleston>Charleston</option>
												<option value=Dorchester>Dorchester</option>
												<option value=Downtown>Downtown</option>
												<option value="East Boston">East Boston</option>
												<option value=Fenway/Kenmore>Fenway/Kenmore</option>
												<option value="Jamaica Plain">Jamaica Plain</option>
												<option value=Mattapan>Mattapan</option>
												<option value=Roxbury>Roxbury</option>
												<option value="North End">North End</option>
												<option value="South Boston">South Boston</option>
												<option value="South End">South End</option>
												<option value=Somerville>Somerville</option>
												<option value="West Roxbury">West Roxbury</option>
											</select>, or
											<select name="neighborhoods" id="neighborhoods" />
												<option value=Somerville>Neighborhood</option>
												<option value=Allston/Brighton>Allston/Brighton</option>
												<option value="Back Bay/Beacon Hill">Back Bay/Beacon Hill</option>
												<option value=Cambridge>Cambridge</option>
												<option value=Central>Central</option>
												<option value=Charleston>Charleston</option>
												<option value=Dorchester>Dorchester</option>
												<option value=Downtown>Downtown</option>
												<option value="East Boston">East Boston</option>
												<option value=Fenway/Kenmore>Fenway/Kenmore</option>
												<option value="Jamaica Plain">Jamaica Plain</option>
												<option value=Mattapan>Mattapan</option>
												<option value=Roxbury>Roxbury</option>
												<option value="North End">North End</option>
												<option value="South Boston">South Boston</option>
												<option value="South End">South End</option>
												<option value=Somerville>Somerville</option>
												<option value="West Roxbury">West Roxbury</option>
											</select>.
                    I would like to pay between <input type="number" name="min_rent" id="min_rent" placeholder="Min"/>
										and <input type="number" name="max_rent" id="max_rent" placeholder="Max"/>
										per month.</p>
										<li class="button special next-form">Roommates ></li>
									</div>
									<div class="form roommates-form">
										<p>I am also looking for <input type="number" name="num_roommates" id="num_roommates" />
											roommates to live with. I would describe myself as <input type="text" name="adjectives" id="adjectives" placeholder="Adjective 1"/>,
                      <input type="text" name="adjectives" id="adjectives" placeholder="Adjective 2"/>, and
											<input type="text" name="adjectives" id="adjectives" placeholder="Adjective 3"/> and
                      my <a href="https://www.16personalities.com/free-personality-test" target="_blank">Myers-Briggs</a>
                      personality type is
											<select name="myers_briggs" id="myers_briggs" />
												<option value="Type">Type</option>
												<option value=ISTJ>ISTJ</option>
												<option value=ISFJ>ISFJ</option>
												<option value=INFJ>INFJ</option>
												<option value=INTJ>INTJ</option>
												<option value=ISTP>ISTP</option>
												<option value=ISFP>ISFP</option>
												<option value=INFP>INFP</option>
												<option value=INTP>INTP</option>
												<option value=ESTP>ESTP</option>
												<option value=ESFP>ESFP</option>
												<option value=ENFP>ENFP</option>
												<option value=ENTP>ENTP</option>
												<option value=ESTJ>ESTJ</option>
												<option value=ESFJ>ESFJ</option>
												<option value=ENFJ>ENFJ</option>
												<option value=ENTJ>ENTJ</option>
											</select>.
											I want my roommates to be <input type="text" name="r_adjectives" id="r_adjectives" placeholder="Adjective 1"/>,
                      <input type="text" name="r_adjectives" id="r_adjectives" placeholder="Adjective 2"/>, and
											<input type="text" name="r_adjectives" id="r_adjectives" placeholder="Adjective 3"/>.</p>
											<li class="button special next-form">Finish Up > </li>
                  </div>
									<div class="form else-form">
										<p>Anything else we should know? <textarea name="other" id="other" /></textarea></p>
										<button class="button special" ga('send', 'event', 'form', 'submit', '06/19/17', {
										  nonInteraction: true
										});>Submit</button>
                  </div>
                </form>
								<hr/>
							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

			<!-- jQuery -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
			<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

			<script src="assets/js/main.js"></script>
			<script src="assets/js/app.js"></script>
	</body>
</html>
