<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>RealWorld</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">RealWorld</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Tell us about yourself</h3>
                <p> Note: All items are optional, but the more we know the better our recommendations will be!</p>

                <form class="madlib">
                  <div>
                    <p>My name is <input type="text" name="name" id="name" /> and
                      I am <input type="number" name="age" id="age" /> years old.
                      I will be moving to <input type="text" name="city" id="city" />
                      on <input type="date" name="move-in-date" id="move-in-date" />
                      to work at <input type="text" name="company" id="company" />.
                      I am looking for <input type="number" name="num_roommates" id="num_roommates" />
                      roommates to live with in the <input type="text" name="num_roommates" id="num_roommates" />
                      neighborhood. I would like to pay between <input type="range" name="min-rent" id="min-rent" />
                      and <input type="text" name="max-rent" id="max-rent" /> per
                      month. I would describe myself as <input type="text" name="adjective1" id="adjective1" />,
                      <input type="text" name="adjective2" id="adjective2" />, and
                      my <a href="https://www.16personalities.com/free-personality-test" target="_blank">Myers-Briggs</a>
                      personality type is <input type="text" name="myers-briggs" id="myers-briggs" />.
                      Please contact me at <input type="email" name="email" id="email" />
                      or <input type="text" name="phone" id="phone" />. Oh, and
                      I'd like my password to be <input type="password" name="password" id="password" />.</p>
                    <button class="button special">Find Matches</button>
                  </div>
                </form>
								<hr />
							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
