<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>RealWorld</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

		<!--jQuery-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="assets/js/app.js"></script>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">RealWorld</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header class="header-text">
							<!-- <h2>I'm looking for</h2>
							<ul>
								<li class="apartments">Apartments</li>
								<li class="roommates">Roommates</li>
								<li class="both">Both</li> -->
							</ul>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Tell us about yourself</h3>
                <p> Note: All items not marked with a * are optional, but the more we know the better our recommendations will be!</p>

                <form method="post" action="/sign-up" class="madlib" >
                  <div>
                    <p>My name is <input type="text" name="first_name" id="first_name" placeholder="First Name"/>*
											<input type="text" name="last_name" id="last_name" placeholder="Last Name"/>*
											and I am <input type="number" name="age" id="age" /> years old.
                      I will be moving to Boston on <input type="date" name="move_in_date" id="move_in_date" placeholder="Date"/>
                      to work at <input type="text" name="company" id="company" placeholder="Company Name"/>.
                      I am looking for a place with <input type="number" name="num_bedrooms" id="num_bedrooms" />
                      bedrooms and <input type="number" name="num_baths" id="num_baths" />
											bathrooms in
												<select name="neighborhood1" id="neighborhood1" placeholder="Neighborhood1" />
													<option value=Somerville>Neighborhood</option>
													<option value=Somerville>Allston/Brighton</option>
													<option value=Somerville>Back Bay/Beacon Hill</option>
													<option value=Somerville>Cambridge</option>
													<option value=Somerville>Central</option>
													<option value=Somerville>Charleston</option>
													<option value=Somerville>Dorchester</option>
													<option value=Somerville>Downtown</option>
													<option value=Somerville>East Boston</option>
													<option value=Somerville>Fenway/Kenmore</option>
													<option value=Somerville>Jamaica Plain</option>
													<option value=Somerville>Mattapan</option>
													<option value=Somerville>Roxbury</option>
													<option value=Somerville>North End</option>
													<option value=Somerville>South Boston</option>
													<option value=Somerville>South End</option>
													<option value=Somerville>Somerville</option>
													<option value=Somerville>West Roxbury</option>
												</select>,
												<select name="neighborhood2" id="neighborhood2" placeholder="Neighborhood 2" />
													<option value=Somerville>Neighborhood</option>
													<option value=Somerville>Allston/Brighton</option>
													<option value=Somerville>Back Bay/Beacon Hill</option>
													<option value=Somerville>Cambridge</option>
													<option value=Somerville>Central</option>
													<option value=Somerville>Charleston</option>
													<option value=Somerville>Dorchester</option>
													<option value=Somerville>Downtown</option>
													<option value=Somerville>East Boston</option>
													<option value=Somerville>Fenway/Kenmore</option>
													<option value=Somerville>Jamaica Plain</option>
													<option value=Somerville>Mattapan</option>
													<option value=Somerville>Roxbury</option>
													<option value=Somerville>North End</option>
													<option value=Somerville>South Boston</option>
													<option value=Somerville>South End</option>
													<option value=Somerville>Somerville</option>
													<option value=Somerville>West Roxbury</option>
												</select>, or
												<select name="neighborhood3" id="neighborhood3" placeholder="Neighborhood 3" />
													<option value=Somerville>Neighborhood</option>
													<option value=Somerville>Allston/Brighton</option>
													<option value=Somerville>Back Bay/Beacon Hill</option>
													<option value=Somerville>Cambridge</option>
													<option value=Somerville>Central</option>
													<option value=Somerville>Charleston</option>
													<option value=Somerville>Dorchester</option>
													<option value=Somerville>Downtown</option>
													<option value=Somerville>East Boston</option>
													<option value=Somerville>Fenway/Kenmore</option>
													<option value=Somerville>Jamaica Plain</option>
													<option value=Somerville>Mattapan</option>
													<option value=Somerville>Roxbury</option>
													<option value=Somerville>North End</option>
													<option value=Somerville>South Boston</option>
													<option value=Somerville>South End</option>
													<option value=Somerville>Somerville</option>
													<option value=Somerville>West Roxbury</option>
												</select>.
                      I would like to pay between <input type="number" name="min_rent" id="min_rent" placeholder="Min"/>
											and <input type="number" name="max_rent" id="max_rent" placeholder="Max"/>
											per month.</p>
										<p></p>
										<p>I am also looking for <input type="number" name="num_roommates" id="num_roommates" />
											roommates to live with. I would describe myself as <input type="text" name="adjective1" id="adjective1" placeholder="Adjective 1"/>,
                      <input type="text" name="adjective2" id="adjective2" placeholder="Adjective 2"/>, and
											<input type="text" name="adjective3" id="adjective3" placeholder="Adjective 3"/> and
                      my <a href="https://www.16personalities.com/free-personality-test" target="_blank">Myers-Briggs</a>
                      personality type is <input type="text" name="myers_briggs" id="myers_briggs" />.
											I want my roommates to be <input type="text" name="r_adjective1" id="r_adjective1" placeholder="Adjective 1"/>,
                      <input type="text" name="r_adjective2" id="r_adjective2" placeholder="Adjective 2"/>, and
											<input type="text" name="r_adjective3" id="r_adjective3" placeholder="Adjective 3"/>.</p>
										<p></p>
                    <p>Please contact me at <input type="email" name="email" id="email" placeholder="Email"/>*
                      or <input type="tel" name="phone" id="phone" placeholder="Phone Number"/>. Oh, and
                      I'd like my password to be <input type="password" name="password" id="password" />*.</p>
                    <button class="button special">Find Matches</button>
                  </div>
                </form>
								<hr />
							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
	</body>
</html>
